body{
    background-color: #CCBAA6;
}

 div{
    background-color:#beac9ed2;
    margin: auto;
    text-align: center;
    padding: 80px;
    height: 280px;
    width:210px ;
    margin-top: 90px;
    border-radius: 90px;
    padding-top: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.205);
    max-width: 500px;
    min-height: 100px;
   
    
    
}

#primeiro{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 37px;
   color: #70635a;
   padding: 0px 30px;
  ;
}
   

.segundo{
  color: #5e534bbd;
  font-family: Arial, Helvetica, sans-serif;
  padding:3px;
}

#principal{
   background-color:   #70635a62;
   border-radius: 10px;
   text-decoration: none;
}

#sub-principal{
    background-color: #70635a62;
    border-radius: 10px;
    text-decoration: none;
  
}


a{
  color: rgba(0, 0, 0, 0.432);
  font-family:  Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 20px;
  margin: auto;
  width: 200px;
  height: 50px;
  text-decoration: none;
}

 a > p{
  background-color: #6b5f5650;
  right: 40px;
  left: 50px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 15px;
  border-radius: 50px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.219);
   
}


